{% extends "gdmAdminBundle::layout.html.twig" %}
	{% block title %}
        Accueil - {{ parent() }}
    {% endblock %}
	{% block gdmReservation_body %}
        <!-- Our Portfolio -->
        <div class="section section-white">
            <div class="container">
                <h2>Ajouter un article</h2>
                <div class="well">
                    <form method="post" {{ form_enctype(formArticle) }}>
                        {{ form_widget(formArticle) }}
                        <input type="submit" class="btn btn-primary" />
                    </form>
                </div>

                <p>
                    <a href="{{ path('gdmAdmin_voir', {'id': 1}) }}"class="btn">
                        <i class="icon-chevron-left"></i>
                        Retour à l'article
                    </a>
                </p>
            </div>
        </div>
        <!-- Our Portfolio -->
    {% endblock %}